@model WebsiteAssignmentMain.Models.Movie
@{
    Layout = "_CMS";
    ViewData["Title"] = "Delete movie";
}

<form method="post">

    <input type="hidden" name="Movie_Id" value="@Model.Movie_Id" />

    <p><input type="submit" value="Delete '@Model.Movie_Name'?" class="btn" /></p>

    <p>
        <a asp-controller="MData" asp-action="Index" class="add">
            <input type="button" class="btn btn-primary" value="Return to Movies Collection" />
        </a><br>
    </p>

</form>

