@model WebsiteAssignmentMain.Models.Movie
@{
    Layout = "_Layout";
    ViewData["Title"] = "Delete movie";
}

    <form method="post">

        <input type="hidden" name="Movie_Id" value="@Model.Movie_Id" />

        <p>Delete film @Model.Movie_Name?</p>

        <p><input type="submit" value="Delete" class="delete" /></p>

        <p><a asp-controller="MData" asp-action="Index" class="add">Keep</a><br></p>

    </form>

