@model WebsiteAssignmentMain.Models.MovieForm
@{
    Layout = "_CMS";
}
        <h1 class="center-text">Add a Movie</h1>
        <form asp-controller="MData" asp-action="MovieADD">
            <div class="verticalAlign">
                <div>
                    <label asp-for="Movie_Name">Movie Name</label><br />
                    <input class="searchField" type="text" asp-for="Movie_Name" />
                    <span class="required">*</span>
                    <span asp-validation-for="Movie_Name" class="error"></span>
                </div>

                <div>
                    <label asp-for="Movie_Year">Movie Release Year</label><br />
                    <input class="searchField" type="text" asp-for="Movie_Year" />
                    <span class="required">*</span>
                    <span asp-validation-for="Movie_Year" class="error"></span>
                </div>

                <div>
                    <label asp-for="Movie_Genre">Movie Genre</label><br />
                    <input class="searchField" asp-for="Movie_Genre"/>
                </div>

                <div>
                    <label asp-for="Movie_Time">Total Movie Run time</label><br />
                    <input class="searchField" type="text" asp-for="Movie_Time"  placeholder="IN MINUTES"/>
                </div>

                <div>
                    <label asp-for="Movie_Imdb">Movie Imdb Rating</label><br />
                    <input class="searchField" type="text" asp-for="Movie_Imdb" />
                </div>

                <div>
                    <label asp-for="Movie_Votes">Movie total votes: </label><br />
                    <input class="searchField" type="text" asp-for="Movie_Votes" />
                </div>

                <div>
                    <label asp-for="Movie_Gross">Movie Gross Domestic Income in millions: </label><br />
                    <input class="searchField" type="text" asp-for="Movie_Gross" placeholder="IN MILLIONS £" />
                </div>
            </div>
            <div>
                <input type="submit" value="Add" class="btn" />
            </div>

        </form>
