
@import url('https://fonts.googleapis.com/css?family=Poppins'); /*main font for website*/


a {
    color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

.footer 
{
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;Vertically center the text there 
    }

.center-text{
    text-align: center;
}
.right-text{
    text-align: right;
}
.left-text{
    text-align: left;
}
.navbar
{
    background: #080808;
    color: #fff;
    padding: 15px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/*mobile friendly grow navbar*/
.flex-grow-1 
{
    background: #FFBF00;
    flex-grow: 1 !important;
    border-radius: 7px;
}

body 
{
    padding-top: 90px;
    padding-bottom: 65px;
    background: #161616;
    color: #FFBF00;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.bg-custom {
    background-color: #FFBF00;
}

.box {
    width: 90%;
    max-width: 450px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    background: #222;
    border-radius: 7px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.9);
}

.boxInfo 
{
    width: 90%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    background: #222;
    border-radius: 7px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.9);
}
.boxDelete 
{
    width: 90%;
    max-width: 700px;
    height: auto;
    margin: 0 auto;
    margin-top: 10px;
    background: #222;
    border-radius: 7px;
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.9);
}

.content {
    width: 85%;
    height: auto;
    margin: 0 auto;
    padding: 30px 0px;
    text-align: center;
}

.content h1 
{
        font-size: 24px;
        font-weight: 400;
        color: #FFBF00;
        letter-spacing: 0.125em;
        text-align: center;

}

.field 
{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background: #2c2c2c;
    border: none;
    box-shadow: 0px 1px 0px 0px #111;
    border-radius: 3px;
    outline: none;
    color: #FFBF00;
    font-weight: 700;
    letter-spacing: 0.125em;
    text-align: center;
}
.searchField 
{
    width: auto;
    margin: 10px auto;
    padding: 10px;
    background: #2c2c2c;
    border: none;
    box-shadow: 0px 1px 0px 0px #111;
    border-radius: 3px;
    outline: none;
    color: #FFBF00;
    font-weight: 700;
    letter-spacing: 0.125em;
}


::-webkit-input-placeholder 
{ /* WebKit browsers */
    color: #5A5A5A;
}

:-moz-placeholder 
{ /* Mozilla Firefox 4 to 18 */
    color: #5A5A5A;
}

::-moz-placeholder
{ /* Mozilla Firefox 19+ */
    color: #5A5A5A;
}

:-ms-input-placeholder 
{ /* Internet Explorer 10+ */
    color: #5A5A5A;
}


.btn 
{
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background: #161616;
    border: none;
    box-shadow: 0px 1px 0px 0px #111;
    border-radius: 3px;
    outline: none;
    color: #FFBF00;
    font-weight: 700;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
}
.btn:hover 
{
        background: #FFBF00;
        color: #333;
}

.btn:active 
{
        background: #FACC2E;
        color: #333;
}
.searchbtn 
{
    margin: 10px auto;
    padding: 10px;
    background: #161616;
    border: none;
    box-shadow: 0px 1px 0px 0px #111;
    border-radius: 3px;
    outline: none;
    color: #FFBF00;
    font-weight: 700;
    letter-spacing: 0.125em;
    text-transform: uppercase;
}

.searchbtn:hover 
{
    background: #FFBF00;
    color: #333;
}

.searchbtn:active 
{
    background: #FACC2E;
    color: #333;
}

#TopBtn
{
    display: none; /* Hidden by default only shows when user scrolls down*/
    position: fixed; 
    bottom: 65px; 
    right: 2px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #161616; 
    color: #FFBF00; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; /* Rounded corners */
    font-size: 12px; 
}

#TopBtn:hover 
{
        background-color: #555; 
}

#btn-back 
{
    z-index: 99; 
    outline: none; /* Remove outline */
    background-color: #161616; 
    color: #FFBF00; 
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px;
    border-radius: 10px; 
    font-size: 18px; 
    border:none;
}

#btn-back:hover 
{
        background: #FFBF00;
        color: #333;
}
.btn-back:active 
{
    background: #FACC2E;
    color: #333;
}

.mainText {
    color: #FFBF00;
    font-family: 'Poppins', sans-serif;
}

.verticalAlign {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
#accountWelcome {
    color: #161616;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.signOutbtn {
    margin-top: 5px;
    width: 100%;
    background: #161616;
    border: none;
    box-shadow: 0px 1px 0px 0px #111;
    border-radius: 3px;
    outline: none;
    color: #FFBF00;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.125em;
    text-align: center;
    text-transform: uppercase;
}

.signOutbtn:hover {
    background: #FFBF00;
    color: #333;
}

.signOutbtn:active {
    margin-top: 5px;
    background: #FACC2E;
    color: #333;
}

.userinfobtn {
    margin: 10px auto;
    padding: 10px;
    background: #161616;
    border: none;
    box-shadow: 0px 1px 0px 0px #111;
    border-radius: 3px;
    outline: none;
    color: #FFBF00;
    font-weight: 700;
    letter-spacing: 0.125em;
    text-transform: uppercase;
}
.userinfobtn:hover {
    background: #FFBF00;
    color: #333;
}

.userinfobtn:active {
    margin-top: 5px;
    background: #FACC2E;
    color: #333;
}