@model Register
@{
    Layout = "_CMS";
}

<h2 class="center-text">Create New User Account</h2>
<form method="post">
    <div class="box">
        <div class="content">
            <table>
                <tr>
                    <td><label asp-for="UserName">Username:</label></td>
                    <td><input class="field" input type="text" asp-for="UserName" /></td>
                    <td><span asp-validation-for="UserName" class="error"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Password">Password:</label></td>
                    <td><input class="field" input type="password" asp-for="Password" /></td>
                    <td><span asp-validation-for="Password" class="error"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="ConfirmPassword">Confirm Password:</label></td>
                    <td><input class="field" input type="password" asp-for="ConfirmPassword" /></td>
                    <td><span asp-validation-for="ConfirmPassword" class="error"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="Email">Email Address:</label></td>
                    <td><input class="field" input type="text" asp-for="Email" /></td>
                    <td><span asp-validation-for="Email" class="error"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="FullName">Full Name:</label></td>
                    <td><input class="field" input type="text" asp-for="FullName" /></td>
                    <td><span asp-validation-for="FullName" class="error"></span></td>
                </tr>
                <tr>
                    <td><label asp-for="BirthDate">Birth Date:</label></td>
                    <td><input class="field" input type="date" asp-for="BirthDate" /></td>
                    <td><span asp-validation-for="BirthDate" class="error"></span></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" input class="btn">Create</button>
                    </td>
                </tr>
            </table>
            <h3><button input class="btn" asp-controller="security" asp-action="SignIn">Go To Sign-In Page</button></h3>
        </div>
        </div>
</form>

