@model SignIn
@{
    Layout = "_CMS";
}
<h2 class="fullWidth center-text">Sign In to use Content Management System</h2>
<section>
    <form asp-controller="Security" asp-action="SignIn" method="post">
        <div class="box">
            <div class="content">
                <div>
                    <label asp-for="UserName">Username</label>
                    <input class="field" input type="text" asp-for="UserName" placeholder="PLEASE ENTER YOUR USERNAME" />
                </div>
                <div>
                    <label asp-for="Password">Password</label>
                    <input class="field" input type="password" asp-for="Password" placeholder="PLEASE ENTER YOUR PASSWORD" />
                </div>
                <div>
                    <label asp-for="RememberMe">Remember Me</label>
                    <input type="checkbox" asp-for="RememberMe" />
                </div>
                <div asp-validation-summary="All" class="message"></div>
                <div>
                    <button type="submit" input class="btn">Sign In</button>
                </div>
                <div class="center-text">
                    <h3><button input class="btn" asp-controller="security" asp-action="RegisterPage">Create New User Account</button></h3>
                </div>
            </div>
        </div>
    </form>
</section>
