@{ ViewData["Title"] = "Home Page";
   ViewData["PageHeading"] = "Welcome"; }

<p>Movies4You is a website where you can find the information on thousands of different movies, such as release date audience ratings etc
    Users with an account can also add any movies of their own with the relevant information</p>
