

<h2 class="center-text">A Website made for User-Interactive Movie Listings</h2>
<br />
<p class="center-text">
    Here you can access more than 700 movies and their details including the
    release, genre, total run time, IMDB rating, total votes and domestic income.
</p>
<div class="center-text">
    <button data-toggle="collapse" data-target="#regUser" class="userinfobtn">Why make an Account?&emsp;&emsp;<i class="fas fa-arrow-down"></i></button>
</div>
<div id="regUser" class="collapse">
    <p class="center-text">
        Our registered users can edit or update existing movie details,
        the changes will be saved and updated to the database
    </p>
    <p class="center-text">
        Users will also be able to add new movies of their own as long as they have 
        the data required on the specific movie.
    </p>
</div>
