@{
    ViewData["Title"] = "Movie List";
    ViewData["PageHeading"] = "Movie List";
    ViewData["SearchString"] = "Search Data";
}

    <section class="noflex">
        <form asp-action="Search" method="get">
            <div>
                <label for="SearchString">Search Movie by Title: </label> <input type="text" name="SearchString" id="SearchString" />
                <input type="submit" value="Filter" />
            </div>
        </form>
    </section>

<section class="wrap">
    @foreach (var item in Model)
    {
    <div>
        <h3>@item.Movie_Name</h3>
        <p><a asp-controller="Home" asp-action="MovieInfo" asp-route-id="@item.Movie_Id">Details</a></p>
    </div>
    }
</section>
